.cabecalho{
    width: 100%;
    height: 18%;
    background-color: #00ff00;
}
.cabecalho_li{
    display:inline-block;
    margin: 0.5%;
}
.cabecalho_a{
    display: inline-block;
    background-color: #ff0000;
    padding: 5%;
    width: 10vw;
}